DJANGO_SETTINGS_MODULE=core.settings.development
DEBUG=True
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=postgres://postgres:password@localhost:5432/dbname
EMAIL_HOST_USER=your-email
EMAIL_HOST_PASSWORD=your-app-password
USE_S3=True
AWS_ACCESS_KEY_ID=your-backblaze-key-id
AWS_SECRET_ACCESS_KEY=your-backblaze-application-key
AWS_STORAGE_BUCKET_NAME=your-bucket-name
AWS_S3_ENDPOINT_URL=https://s3.us-east-005.backblazeb2.com
AWS_S3_REGION_NAME=us-east-005